<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RemoteFileManager</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <script src="~/js/head.js"></script>
</head>

<body>
    <nav>
        <a class="app_name" asp-area="" asp-page="/AppRunner" r>AppRunner</a>
        <a class="app_name" asp-area="" asp-page="/FileManager">FileManager</a>
        <div id="connection_state"></div>
        <a id="reconnect_button" onclick="reconnect()" hidden>(try again)</a>
        <button id="theme_button" onclick="toggleTheme()">
            <div></div>
        </button>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/signalr/dist/browser/signalr.min.js" type="module"></script>
    <script src="~/lib/ansi-to-html/ansi-to-html.browser.js"></script>
    <script src="~/js/appRunner/appRunner.js" type="module" asp-append-version="true"></script>
    <script src="~/js/fileManager/fileManager.js" type="module" asp-append-version="true"></script>
    <script src="~/js/exportGlobals.js" type="module" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
