.download {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    text-align: start;
    font-size: 0.9em;

    min-width: var(--min-download-width);
    max-width: var(--download-width);
    width: auto;

    margin: var(--download-margin);
    padding: 6px 10px;
    border-radius: 6px;
    background-color: var(--background-color);

    border: var(--download-border-width) solid var(--border-color);
}

.download .text_wrapper {
    display: block;
    flex: auto;
    width: 0;
    margin-right: 6px;
}

.download .top_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.download p {
    display: block;
    overflow: hidden;
    white-space: nowrap;

    margin: 0;
    text-overflow: ellipsis;
}

.download .directory_name {
    font-size: 0.9em;
    width: fit-content;
    height: fit-content;

    padding: 0 8px;
    border-radius: 6px;
    background-color: var(--background-color-overlay);
}


.download .progress {
    height: 4px;

    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 0;
}


.download button {
    display: inline;
    aspect-ratio: 1;
    height: 36px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.download button:after {
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--text-color);
    mask-repeat: no-repeat;
    mask-position: center;
}

.download button:hover {
    background-color: var(--background-color-overlay);
    box-shadow: none;
}

.download button:active {
    background-color: #cacaca;
}

.download .cancel_button:after {
    mask-image: url(../svg/close.svg);
    mask-size: 55%;
}

.download .pause_button:after {
    mask-image: url(../svg/pause.svg);
    mask-size: 85%;
}

.download .resume_button:after {
    mask-image: url(../svg/playback.svg);
    mask-size: 55%;
}
