:root {
    --scrollbar-width: 6px;
    --min-download-width: 300px;
    --download-width: 350px;
    --download-margin: 8px;
    --download-border-width: 1px;
    --block-padding-vertical: 12px;
    --block-padding-horizontal: 16px;
}


/* scroll bar */
.block > ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.block > ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--border-color);
}


.block {
    min-height: 150px;
    text-align: start;
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--shadow-color);
    background-color: var(--foreground-color);
}

.block:has(.downloads_container) {
    min-width: fit-content;
    max-width: calc(var(--download-width) + 2 * var(--download-margin) + 2 * var(--download-border-width) + var(--scrollbar-width));
    width: auto;
    /* margin-left: auto;
     margin-right: auto;*/
}

.block_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 6px 16px;
    border-radius: inherit;
    border-bottom: 1px solid var(--border-color);
    border-end-start-radius: 0;
    border-end-end-radius: 0;
}
.block_header > p {
    margin: 8px 0;
}


.downloads_container {
    /*max-width: calc(var(--download-width) + 2 * var(--download-margin) + 2 * var(--download-border-width) + var(--scrollbar-width));*/
    /*width: 100%;*/
    /*max-height: 270px;*/
    height: 270px;
    overflow-y: scroll;
}

.block_container {
    display: flex;
    flex-direction: column;
    padding: var(--block-padding-vertical) var(--block-padding-horizontal);
    /*width: 100%;*/
}

.block_container input,
.block_container select {
    flex-grow: 1;
}

.block_container label {
    width: 180px;
    flex-shrink: 0;
}

.input_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


/*#manage_files_block,
#start_download_block {
    width: 400px;
}*/







.disk_space_container {
    padding: 8px 12px;
    margin: 4px 0;
    border-radius: 6px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.disk_space_container p {
    margin: 0;
}

.progress {
    height: 10px;
    width: auto;

    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
    background-color: white;
}

.progress_bar {
    height: 100%;
    width: 0;
    background-color: var(--blue);
    transition: width 0.2s;
    border-radius: inherit;
}


#disk_space {
    font-size: 0.9em;
}



.grid {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.column {
    min-width: 370px;
}

.column:first-of-type {
    flex-grow: 1;
}

/* TODO: fix horizontal scaling */
.column:last-of-type {
    min-width: fit-content;
    width: calc(16px + 21px + var(--download-width) + 2 * var(--download-margin) + 2 * var(--download-border-width) + var(--scrollbar-width));

    border-left: 1px solid gray;
    padding-left: 32px;
}




@media (max-width: 950px) {
    .cont {
        margin-left: 5%;
        margin-right: 5%;
    }

    .grid {
        flex-direction: column;
    }

    .column:last-of-type {
        width: 100%;
        min-width: 370px;

        border-left: none;
        padding-left: 0;
    }

    .column:last-of-type .block {
        margin-left: auto;
        margin-right: auto;
    }
}
