@import url(colors.css);
@import url(nav.css);
@import url(buttons/buttons.css);
@import url(download.css);
@import url(filesTable.css);
@import url(appRunner.css);
@import url(fileManager.css);

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

main {
    align-content: center;
    padding: 0.5rem 10%;
    height: auto;
}


hr {
    width: 100%;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
    background-color: #ccc;
}

/*hr {*/
/*    opacity: 1;*/
/*    margin: 12px 0;*/
/*}*/
